.chessboard {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.square {
  width: 75px;
  height: 75px;
}

.square:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
